
.component2{
    background-color:white;
    /* border:  1px solid salmon; */
    height: 350px;
    font-family: 'Open Sans', sans-serif;
}


.containerComponent2{
    display: flex;
    height: 100%;
    margin: 0 50px;
}

.textComponent2{
    /* border: 1px solid; */
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.textComponent2 h1{
    transform: translateY(60px);
}

.textComponent2 p{
    margin-top: 10px;
    width: 430px;
    font-size: 17px;
    transform: translateY(60px);
}

.imgComponent2{
    /* border: 1px solid salmon; */
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.imgComponent2 img{
    width: 450px;
    transform: translateY(30px);
}




@media  (max-width: 1000px) {
    .component2{
        height: 500px;
        /* margin-top: 170px; */
        /* border: 1px solid salmon; */
    }
    .containerComponent2{
        flex-direction: column;
    }
.textComponent2{
    text-align: center;
    /* border: 1px solid; */
    order: 2;
    align-items: center;
}
.textComponent2 h1{
    transform: none;
}
.textComponent2 p{
    margin: 0px;
    transform: none;
}
    
.imgComponent2 {
    order: 1;
}
    
    }
    

    @media  (max-width: 500px) {
        .component2 img{
            width: 350px;
            /* transform: translateY(90px); */
        }
        .textComponent2 p{
            width: 350px;
        }
    }

